#footer-area {
    padding: 90px 0 60px 0;
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    color: #fff;
}

.footer-social {
    margin-top: 20px;
}

.single-footer h3.inspf-sfh {
    font-weight: 500;
    margin-bottom: 25px;
    color: #fafafa;
    font-family: merienda;
}

.link-area li {
    padding: 5px 5px 5px 0;
    list-style: none;
}

.link-area li a {
    text-transform: capitalize;
    color: #ddd;
    text-decoration: none;
}

.link-area li a i {
    margin-right: 10px;
    color: #ddd;
}

.link-area {
    padding: 0;
}

.footer-social li a {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #000;
}

.footer-social li a i {
    color: #fff;
    padding: 8px;
}

.widget li {
    float: left;
    width: 50%;
}

.widget li a img {
    margin-bottom: -10px;
    width: 100%;
    height: 70px;
}

.copyright-area {
    background: #000;
    padding: 30px 0;
    margin-top: 30px;
    border-radius: 5px;
}

.copyright-area p {
    font-weight: 600;
    color: #fafafa;
}