.product-box {
    margin: 300px 0;
    text-align: center;
}

a.insp-ok-btn {
    font-family: arial;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 80px;
    width: 152px;
    height: 40px;
    text-align: center;
    border: 3px solid #009688;
    display: block;
    text-decoration: none;
    color: #009688;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: .3s;
    margin-top: 5px;
    margin-bottom: 5px;
}

a.insp-Cancel-btn {
    font-family: arial;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 80px;
    width: 152px;
    height: 40px;
    text-align: center;
    border: 3px solid #6C63FF;
    display: block;
    text-decoration: none;
    color: #6C63FF;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: .3s;
    margin-top: 5px;
    margin-bottom: 5px;
}

.acrn-first {
    background: #e98a0e;
    width: 200px;
    height: 55px;
    margin-bottom: 10px;
    border-radius: 1px;
    border-bottom: 5px solid #009688;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    border-top-left-radius: 5px;
    border-top-left-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}