.skilldetserv-desco-sprt {
    padding-left: 40px;
}

.our-tech-card-footer-sprt {
    font-family: 'Inconsolata', monospace;
}

.servdet-abttext>span.base-font-weight--bold {
    font-size: 23px;
}